/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 * {
     box-sizing: border-box;
 }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.4;
  color: #5d5d5d;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

p.lede-paragraph {
  font-size: 37px;
  font-weight: 400;
  color: #ccd9e5;
}

.lede-paragraph strong {
  font-weight: 400;
  color: #fff;
}

.container {
  width: 1300px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background-color: #2e5e87;
  color: #fff;
  border-bottom: 1px solid #32648f;
  padding: 15px 0 10px 0;
}

.conferences {
  margin-top: 40px;
}

.conference {
  border: 1px solid #ececec;
  background-color: #fff;
  margin: 20px 0;
  width: 100%;
  margin-right: 20px;
  table-layout: fixed;
  vertical-align: top;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.1);
}

.conference-header {
  display: table;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ececec;
  table-layout: fixed;
  vertical-align: middle;
}

.flag {
  display: table-cell;
  padding-right: 10px;
  width: 70px;
}

.flag-icon {
  border: 1px solid #ececec;
}

.conference-title {
  display: table-cell;
}

.conference-title h3 {
  margin: 0;
}

.location {
  font-style: italic;
  margin-top: -3px;
  margin-bottom: 0;
  font-weight: 600;
  color: #767676;
}

.conference-details {
  padding: 15px;
}

.conference-details > :first-child {
  margin-top: 0;
}

.conference-details > :last-child {
  margin-bottom: 0;
}

.half-col {
  width: calc(50% - 10px);
  float: left;
  margin-right: 20px;
}

.half-col:nth-child(even) {
  margin-right: 0;
}

.columns:after {
  content:'';
  display: table;
  width: 100%;
  clear: both;
}

h3 {
  font-size: 20px;
}

section {
  padding: 0 0 40px 0;
  margin: 0;
}

.section-header {
  text-align: center;
  font-size: 25px;
  padding: 35px;
  margin: 0 0 40px;
  border-bottom: 1px solid #ececec;
  background-color: rgba(249, 249, 249, 0.5);
}

section.light-grey {
  background-color: rgb(249, 249, 249);
}

section.map {
  background: rgb(249, 249, 249) url('../img/map.png') no-repeat fixed 50% 10%;
}

section.blue {
  background-color: #2b5b84;
  color: #fff;
}

section.banner {
  padding: 40px 0 80px;
}

a {
  color: #3776ab;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
