---
layout: page
---
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Join us at PyCon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/flag-icon.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/skeleton.css">
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <div class="container">
        <img alt="Python Logo" src="img/python-logo.png" class="logo">
        <nav>
          <a href="#national-conferences">National Conferences</a>
          <a href="#regional-events">Regional &amp; Special Interest Events</a>
          <a href="#calendar">Events Calendar</a>
        </nav>
      </div>
    </header>

    <section class="banner">
      <div class="container">
        <div class="intro">
          <h1>Join us at PyCon</h1>
          <p class="lede-paragraph">The international community for the Python programming language holds several conferences (PyCons) each year.</p>
          <p>Whether you are an experenced programmer, a hobby hacker or an absolute beginner, we'd love to welcome you to the Python community.</p>
          <p>PyCons are hosted all around the world, mostly organized by volunteers from local Python communities.</p>
          <p>This means that each PyCon is unique, although all PyCons share the same spirit &mdash; to spread knowledge, learn from each other and make lasting connections.</p>
          <p>If you are looking to start a new PyCon, you'll need to contact the <a href="https://www.python.org/psf/trademarks/" style="color: white">Python Software Foundation trademark workgroup</a> for permission. You'll need to confirm:
            <ol>
              <li>There is no other regional PyCon in your area (e.g. country)</li>
              <li>The PyCon has a Code of Conduct, you can reference the <a href="https://us.pycon.org/2020/about/code-of-conduct/" style="color:white">PyCon US Code of Conduct</a> as an example</li>
              <li>The PyCon is a community conference and not for commercial purposes</li>
            </ol>
          </p>
        </div>
      </div>
    </section>

    <section class="map" id="national-conferences">
      <h2 class="section-header">National Conferences</h2>
      <div class="container">
        <div class="row">
          <div class="twelve columns">
              <div class="conference conference-hero">
                <div class="conference-header">
                  <div class="flag">
                    <span class="flag-icon flag-icon-us"></span>
                  </div>
                  <div class="conference-title">
                    <h3>Pycon US</h3>
                    <p class="location">United States and Canada</p>
                  </div>
                </div>
                <div class="conference-details">
                  <p>PyCon US has returned to Pittsburgh (originally scheduled for 2020-2021) for 2024 and 2025. PyCon US
                    2026 and 2027 will be held in Long Beach, California.
                  </p>
                  <p>PyCon US 2022 and 2023 were held in Salt Lake City, UT. PyCon US 2020 and 2021 became online events due
                    to the Covid-19 pandemic. PyCon US 2018 and 2019 were held in Cleveland, OH. PyCon US 2016 and 2017 were
                    held in Portland, Oregon, USA. PyCon US 2015 and 2014 were held in Montreal, Canada. PyCon US 2013 and
                    2012 were held in Santa Clara, California. PyCon US 2010 and 2011 were in Atlanta, Georgia, USA, with
                    over 1400 people attending 2011. PyCon US 2008 and 2009 were in Chicago, Illinois. PyCon US 2006 and
                    2007 were held in Dallas, Texas. Washington DC hosted PyCon US 2003, 2004, and 2005.
                  </p>
                  <p><a href="https://us.pycon.org">Visit Website</a></p>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          {% assign sortednational = site.national | sort: "location" %}
          {% for conf in sortednational %}
          {% assign loop = forloop.index0 | modulo: 2 %}{% if loop == 0 %}</div><div class="row">{%endif%}
          <div class="six columns">
            <div class="conference">
              <div class="conference-header">
                <div class="flag">
                  <span class="flag-icon flag-icon-{{conf.flag}}"></span>
                </div>
                <div class="conference-title">
                  <h3>{{conf.name}}</h3>
                  {% if conf.discontinued %}<span class="discontinued"></span>{%endif%}
                  <p class="location">{{conf.location}}</p>
                </div>
              </div>
              <div class="conference-details">
                <p>
                  <a href="{{conf.website}}">Visit{% if conf.website contains "web.archive.org" %} Archived{% endif %} Website</a>
                  {% if conf.twitter %}| <a href="https://twitter.com/{{conf.twitter}}">Follow on Twitter</a>{% endif %}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="regional-events" class="stars">
      <h2 class="section-header">Regional &amp; Special Interest Events</h2>
      <div class="container">
        <div class="row">
          {% for conf in site.regional %}
          {% assign loop = forloop.index0 | modulo: 2 %}{% if loop == 0 %}</div><div class="row">{%endif%}
          <div class="six columns">
            <div class="conference">
              <div class="conference-header">
                <div class="conference-title">
                  <h3>{{conf.name}}</h3>
                  {% if conf.discontinued %}<span class="discontinued"></span>{%endif%}
                  <p class="location">{{conf.location}}</p>
                </div>
              </div>
              <div class="conference-details">
                <p><a href="{{conf.website}}">View{% if conf.website contains "web.archive.org" %} Archived{% endif %} Website</a>
                {% if conf.twitter %} | <a href="https://twitter.com/{{conf.twitter}}">Follow on Twitter</a>{% endif %}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="calendar" class="shapes">
      <h2 class="section-header">Events Calendar</h2>
      <div class="container">
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=j7gov1cmnqr9tvg14k621j7t5c%40group.calendar.google.com&amp;color=%23125A12&amp;src=3haig2m9msslkpf2tn1h56nn9g%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=GMT"
                style=" border-width:0 " width="1260" height="800" frameborder="0" scrolling="no" class="calendar">
          <a href="https://www.google.com/calendar/ical/j7gov1cmnqr9tvg14k621j7t5c%40group.calendar.google.com/public/basic.ics">Python Events iCal Calendar</a><br/>
          <a href="https://www.google.com/calendar/ical/3haig2m9msslkpf2tn1h56nn9g%40group.calendar.google.com/public/basic.ics">Python User Group iCal Calendar</a>
        </iframe>

        <p>Please note that the above calendar widget uses UTC/GMT as timezone. The calendars are also available as <a href="https://lmorillas.github.io/python_events/">map mashup</a>, iCal files (<a href="https://www.google.com/calendar/ical/j7gov1cmnqr9tvg14k621j7t5c%40group.calendar.google.com/public/basic.ics">Python Events iCal Calendar</a>, <a href="https://www.google.com/calendar/ical/3haig2m9msslkpf2tn1h56nn9g%40group.calendar.google.com/public/basic.ics">Python User Group iCal Calendar</a>) or Twitter feed (<a href="https://twitter.com/PythonEvents">@PythonEvents</a>).</p>
        <p>Also see the <a href="https://www.python.org/community/workshops/">Conferences and Workshops page on the main Python website</a>, for more information.</p>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Designed by <a href="https://kabucreative.com">Kabu Creative</a>, maintained by the Python Community, and hosted by the <a href="https://python.org/psf-landing">Python Software Foundation</a>. <a href="image-credits.html">Image credits</a>.</p>
        <p>Event organiser? <a href="https://github.com/PyCon/pycon.org#adding-your-event">Add or update your event</a>.</p>
      </div>
    </footer>
  </body>
</html>
